@import url("base.css");
@import url("theme.css");

header .back-icon {
	color: var(--primary-color);
	cursor: pointer;
	font-size: 24px;
}

#repos-list {
	margin-top: 40px;
	padding: 20px;
	width: 75vw;
	margin-left: auto;
	margin-right: auto;
	gap: 20px;
	justify-content: flex-start;
	align-items: center;
}

.repo-container {
	margin-top: 20px;
}

.repo-item {
	background-color: rgba(var(--text-color), 0.1);
	border: 1px solid var(--primary-color);
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
	box-shadow: 0px 2px 8px rgba(var(--primary-color), 0.2);
}

.repo-item h3 a {
	color: var(--primary-color);
	text-decoration: none;
	font-size: 1.25rem;
	font-weight: bold;
	word-wrap: break-word;
}

.repo-item h3 a:hover {
	text-decoration: underline;
}

.repo-item p {
	font-size: 1rem;
	margin: 5px 0;
	color: var(--text-color);
}

.archived-tag {
	display: inline-block;
	background-color: var(--highlight-color);
	color: white;
	font-weight: bold;
	padding: 4px 8px;
	border-radius: 3px;
	margin-top: 5px;
}

.controls {
    margin-top: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: var(--background-color);
	margin-bottom: 10px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.controls input[type="text"] {
	padding: 8px;
	width: 60%;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.controls select {
	padding: 8px;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.controls label {
	color: var(--text-color);
	font-size: 0.9em;
}

@media screen and (max-width: 768px) {
    .controls {
        width: 90vw;
        flex-direction: column;
        gap: 10px;
    }
    
}