:root {
	--primary-color: #ffa500;
	--primary-hover-color: #e69500;
	--secondary-color: #ddd;
	--text-color: #f8f8f8;
	--background-color: #000;
	--border-color: #ddd;
	--link-color: #007bff;
	--btn-text-color: #333;
	--highlight-color: #ff6347;
	--slider-bg-color: #333;
	--slider-knob-color: #fff;
    --hamburger-color: #333;
}

.btn {
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	transition: background 0.3s;
	font-family: "Erode";
	font-size: 1rem;
}

.btn-primary {
	background-color: var(--primary-color);
	color: #333;
}

.btn-primary:hover {
	background-color: #e69500;
}

.btn-secondary {
	background-color: var(--secondary-color);
	color: #333;
}

.btn-secondary:hover {
	background-color: #ccc;
}

h1,
h2,
h3,
p,
span {
	color: var(--text-color);
}

body.light-mode {
	--text-color: #333;
	--background-color: #fff;
	--border-color: #ccc;
	--slider-bg-color: #fff;
	--slider-knob-color: var(--primary-color);
    --hamburger-color: #f8f8f8;
}

body.dark-mode {
	--slider-bg-color: #333;
	--slider-knob-color: #fff;
    --hamburger-color: #333;
}

body.light-mode header {
	background-color: rgba(248, 248, 248, 0.8);
	box-shadow: 0 2px 5px rgba(var(--text-color), 0.1);
}

body.light-mode .nav a {
	color: var(--text-color);
}

body.light-mode .intro-text {
	color: var(--text-color);
}

body.light-mode .experience-item {
	background-color: rgba(var(--text-color), 0.05);
	border: 1px solid var(--border-color);
}

body.light-mode footer {
	background-color: var(--secondary-color);
	color: var(--text-color);
}

body.light-mode .btn-primary {
	background-color: var(--primary-color);
	color: #333;
}

body.light-mode .btn-secondary {
	background-color: var(--secondary-color);
	color: #333;
}

body.light-mode .slider {
	background-color: #fff;
}

body.light-mode .slider:before {
	background-color: var(--primary-color);
	transform: translateX(26px);
}

body.dark-mode .slider {
	background-color: #333;
}

body.dark-mode .slider:before {
	background-color: #fff;
	transform: translateX(0);
}
